body {
  /* IE10+ */
  background-image: -ms-radial-gradient(center top, ellipse farthest-side, #0072D6 0%, #004B8D 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, #0072D6 0%, #004B8D 100%);

  /* Opera */
  background-image: -o-radial-gradient(center top, ellipse farthest-side, #0072D6 0%, #004B8D 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 258, color-stop(0, #0072D6), color-stop(100, #004B8D));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #0072D6 0%, #004B8D 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-side at center top, #0072D6 0%, #004B8D 100%);

  color: white;
  font-family: 'Merriweather', serif;

}

h1 {
}

h1 img {
  vertical-align: bottom;
}

table.streaming tr.camera {
  font-size: 3em;
}
