<html>
  <head>
    <title>Watch Images from Kafka topic</title>

    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64"        href="/images/favicon/favicon.ico">
  	<link rel="icon" type="image/png" sizes="196x196" href="/images/favicon/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="/images/favicon/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96"   href="/images/favicon/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64"   href="/images/favicon/favicon-64.png">
  	<link rel="icon" type="image/png" sizes="32x32"   href="/images/favicon/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16"   href="/images/favicon/favicon-16.png">
  	<link rel="apple-touch-icon"                 href="/images/favicon/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72"   href="/images/favicon/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60"   href="/images/favicon/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76"   href="/images/favicon/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180.png">
  	<meta name="msapplication-TileColor" content="#FFFFFF">
  	<meta name="msapplication-TileImage" content="/images/favicon/favicon-144.png">
  	<meta name="msapplication-config"    content="/images/favicon/browserconfig.xml">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <h1><img src="/images/sw-logo-name-white.png"></h1>
      <p>&nbsp;</p>
      <table class="streaming">
        <tr>
          <td colspan="3">
            Two cameras putting images on Stark & Wayne kStreams topics.
          </td>
          <td colspan="3">
            Two applications processing images in real time.
          </td>
        </tr>
        <tr class="space"><td colspan="7">&nbsp;</td></tr>
      {{range $index, $value := .DeviceStreams}}
        <tr class="camera">
          <td class="text src-icon"><i name="{{.Name}}" class="fa {{.FontAwesomeClass}}" aria-hidden="true"></i></span></td>
          <td><img src="{{.RawImageURL}}" width="400" height="225"></td>
          <td class="text"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td>
          <td><img src="{{.ObjectDetectorImageURL}}" width="400" height="225"></td>
          <td class="text">&amp;</td>
          <td><img src="{{.EdgeDetectorImageURL}}" width="400" height="225"></td>
        </tr>
        <tr class="space"><td colspan="7">&nbsp;</td></tr>
      {{end}}
      </table>
    </div>
  </body>
</html>
