<html>
  <head>
    <title>Watch Images from Kafka topic</title>

    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  	<link rel="icon" sizes="16x16 32x32 64x64"        href="/images/favicon/favicon.ico">
  	<link rel="icon" type="image/png" sizes="196x196" href="/images/favicon/favicon-192.png">
  	<link rel="icon" type="image/png" sizes="160x160" href="/images/favicon/favicon-160.png">
  	<link rel="icon" type="image/png" sizes="96x96"   href="/images/favicon/favicon-96.png">
  	<link rel="icon" type="image/png" sizes="64x64"   href="/images/favicon/favicon-64.png">
  	<link rel="icon" type="image/png" sizes="32x32"   href="/images/favicon/favicon-32.png">
  	<link rel="icon" type="image/png" sizes="16x16"   href="/images/favicon/favicon-16.png">
  	<link rel="apple-touch-icon"                 href="/images/favicon/favicon-57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/favicon-114.png">
  	<link rel="apple-touch-icon" sizes="72x72"   href="/images/favicon/favicon-72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/favicon-144.png">
  	<link rel="apple-touch-icon" sizes="60x60"   href="/images/favicon/favicon-60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/favicon-120.png">
  	<link rel="apple-touch-icon" sizes="76x76"   href="/images/favicon/favicon-76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180.png">
  	<meta name="msapplication-TileColor" content="#FFFFFF">
  	<meta name="msapplication-TileImage" content="/images/favicon/favicon-144.png">
  	<meta name="msapplication-config"    content="/images/favicon/browserconfig.xml">
  </head>
  <body>
    <h1>Watch Images from Kafka topic</h1>
    <table>
    {{range $index, $value := .Devices}}
      <tr>
        <td class="name">{{.Name}}</td>
        <td><img src="{{.RawImageURL}}" width="400" height="225"></td>
        <td>-></td>
        <td><img src="{{.ObjectDetectionImageURL}}" width="400" height="225"></td>
      </tr>
    {{end}}
  </table>
  </body>
</html>
